@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/NavbarPos.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/53a2b7f096.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/53a2b7f096.js" crossorigin="anonymous"></script>
    <link href="~/POS.css" rel="stylesheet" />
</head>
<body>

  

    <div class="container-fluid w-100" >
        <div class="row">

            <div class="col-9 overflow-auto ">
                <div class="container">

                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.
                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.
                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.
                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.
                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.
                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.
                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.
                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.
                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.
                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.
                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.
                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.
                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.
                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.
                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.
                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.
                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.
                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.
                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.
                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.
                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.
                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.
                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.
                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.
                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.



                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.
                </div>
            </div>

            <div class=" col-3 bg-primary" style="overflow-y: scroll; position: sticky;">
                <div class="">
                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.
                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.
                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.
                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.
                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.
                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.
                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.
                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.
                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.
                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.
                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.
                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.
                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.
                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.
                    This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.


                </div>
            </div>


        </div>


    </div>
 



</body>
</html>



