@{ ViewBag.Title = "Index"; Layout = "~/Views/Shared/NavbarPos.cshtml"; } <div class="container-fluid w-100">
    <div class="row">
        <div class="col-9 bg-secondary bg-opacity-10">
            <div class="container py-3">
                <div class="row">
                    <div class="px-3 col-4 justify-content-center">
                        <div class="input-group flex-nowrap ">
                            <span class="input-group-text bg-white border border-end-0" id="addon-wrapping">
                                <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                            </span>
                            <input type="text" class="form-control border border-start-0" placeholder="Search" aria-label="Search" aria-describedby="addon-wrapping">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="dropdown">
                            <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Categories List </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="#">Action</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Another action</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-4 text-end">
                        <a data-bs-toggle="modal" data-bs-target="#QRScannerModal">
                            <i class="fa-solid fa-qrcode fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="py-2">
                <div class="row row-cols-1 row-cols-md-5 g-3">
                    @foreach (var product in ViewBag.Products)
                    {<div class="col-6 col-md-3">
                            <div class="card shadow-lg">
                                @if (!string.IsNullOrEmpty(product.ImageUrl))
                                {<div class="ratio ratio-1x1">
                                        <img src="@product.ImageUrl" class="card-img-top">
                                    </div>} <div class="card-body">
                                    <p class="card-title font-weight-bold">@product.Name</p>
                                    <div class="row">
                                        <div class="col-9">
                                            <p class="card-text">P @product.Price.00 </p>
                                        </div>
                                        <div class="col-1">
                                            <button class="btn btn-success btn-sm" type="button" onclick="addToCart('@product.Id')">
                                                <i class="fa-solid fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>}
                </div>
            </div>
        </div>
        <div class="col-3 sidenav d-flex flex-column min-vh-90 py-2">
            <div class="list-group" id="cart-container"></div>
            <footer class="mt-auto w-100 " style="position: sticky; bottom: 0; min-height: 10em; background-color: hsl(0, 0%, 96%)">
                <div class="container-fluid p-3">
                    <div class="row">
                        <div class="col-9">
                            <small class="fw-bold">Total Items:</small>
                        </div>
                        <div class="col-3">
                            <small class="fw-bold" id="cart-total-items"></small>
                        </div>
                        <div class="col-9">
                            <small class="fw-bold">Total Price:</small>
                        </div>
                        <div class="col-3">
                            <small class="fw-bold" id="cart-total-price"></small>
                        </div>
                        <div class="col-7">
                            <small class="fw-bold">Received Amount:</small>
                        </div>
                        <div class="col-5">
                            <div class="input-group input-group-sm mb-3">
                                <input 
                                    type="number"
                                    step=".01"
                                    class="form-control"
                                    id="cart-received-amount"
                                   value="0"
                                >
                            </div>
                        </div>
                        <div class="text-end">
                            <button 
                                type="button"
                                class="btn btn-primary btn-sm"
                                @*data-bs-toggle="modal" 
                                data-bs-target="#CheckoutModal"*@
                                onclick="handleCheckout()"
                            > Checkout </button>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
<!-- QRScanner -->
<div class="modal fade" id="QRScannerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">QRSCANNER</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"> ... </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Checkout -->
<div class="modal fade" id="CheckoutModal" tabindex="-1" aria-labelledby="CheckoutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable ">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title" id="exampleModalLabel">Checkout</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <div class="container ">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">Items</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Prices</th>
                                <th scope="col">Amount</th>
                            </tr>
                        </thead>
                        <tbody id="checkout-container">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-7">
                            <small class="fw-bold">Customer Name:</small>
                        </div>
                        <div class="col-5">
                            <div class="input-group input-group-sm mb-3">
                                <input type="text"
                                       class="form-control"
                                       id="checkout-customer-name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="d-flex justify-content-between">
                                <small class="fw-bold">Total Items:</small>
                                <small class="fw-bold" id="checkout-total-items"></small>
                            </div>
                            <div class="d-flex justify-content-between">
                                <small class="fw-bold">Received Amount:</small>
                                <small class="fw-bold" id="checkout-received-amount"></small>
                            </div>
                            <div class="d-flex justify-content-between">
                                <small class="fw-bold">Change:</small>
                                <small class="fw-bold" id="checkout-change"></small>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="d-flex w-100 h-100 justify-content-center align-items-center">
                                <button type="button" class="btn btn-success" onclick="handleFinalizeCheckout()"> Checkout </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Delete-->
<div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <img src="~/Image/transparent-warning-caution-triangle-mark-red-icon-116405203248pjnfzws9m-removebg-preview.png" class="img-fluid w-25 mx-auto d-block" />
                <h5 class="p-3 text-center">Are you sure you want to delete this Item?</h5>
                <div class="m-auto">
                    <p class="text-center w-75 mx-auto d-block">Do you really want to delete this file. This file cannot be store.</p>
                </div>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="handleDelete()" data-bs-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>