
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/NavbarAdmin.cshtml";
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <link href="~/Content/Site.css" rel="stylesheet" />


}

<body class="bg-secondary bg-opacity-10">


    <div class="container justify-content-center py-3">

        <div class="row">
            <div class="col-lg-6">
                <h4>Sales Performance</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header border-bottom-0 bg-white pt-4 ps-lg-4">
                    <div class="row">
                        <div class="col-md-8">

                            <h5>Total Daily Sales</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <canvas class=" p-3 h-25" id="TotalDailySales"></canvas>
                </div>
            </div>
            <br />
            <br />

        </div>
        <div class="col-sm-3">
            <div class="card">

                <div class=" text-center pt-4"><h5>Top Selling Products</h5></div>
                <div class="card-body ">
                    <canvas class="h-25" id="TopSellingProducts"></canvas>
                </div>
            </div>

        </div>
        <div class="col-sm-3">
            <div class="card">

                <div class=" text-center pt-4"><h5>Orders Today</h5></div>
                <div class="card-body">
                    <canvas class="h-25" id="OrdersTodayPie"></canvas>

                </div>
            </div>

        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.6/dayjs.min.js" integrity="sha512-hcV6DX35BKgiTiWYrJgPbu3FxS6CsCjKgmrsPRpUPkXWbvPiKxvSVSdhWX0yXcPctOI2FJ4WP6N1zH+17B/sAA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.6/plugin/timezone.min.js" integrity="sha512-fG1tT/Wn/ZOyH6/Djm8HQBuqvztPQdK/vBgNFLx6DQVt3yYYDPN3bXnGZT4z4kAnURzGQwAnM3CspmhLJAD/5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
        const randomColor = () => '#' + (Math.random() * 0xFFFFFF << 0).toString(16).padStart(6, '0');
        var json = `@Html.Raw(ViewBag.Orders)`;
        var orders = JSON.parse(json);

        const allOrderProducts = orders.map(order => order.OrderProducts).flat().filter((v, i, a) => a.findIndex(v2 => (v2.Id === v.Id)) === i);
        console.log({ allOrderProducts });
        const orderProductsToday = allOrderProducts.filter((op) => dayjs(op.CreatedAt).isAfter(dayjs().startOf('day')));

        let ordersToday = [];
        let topSellingProducts = [];
        let dailySales = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'].map((day) => ({
            day,
            value: 0
        }))

        for (const orderProduct of allOrderProducts) {
            const topSellingProduct = topSellingProducts.find(tsp => tsp.name == orderProduct.Product.Name);

            if (topSellingProduct) topSellingProduct.quantity += orderProduct.Quantity;
            else topSellingProducts.push({
                name: orderProduct.Product.Name,
                quantity: orderProduct.Quantity
            })


            const ds = dailySales.find((ds) => {
                return ds.day == dayjs(orderProduct.CreatedAt).format('dddd');
            });
            if (ds) ds.value += orderProduct.Quantity;
        }

        for (const orderProduct of orderProductsToday) {
            const product = ordersToday.find(p => p.name == orderProduct.Product.Name);

            if (product) ordersToday.quantity += orderProduct.Quantity;
            else ordersToday.push({
                name: orderProduct.Product.Name,
                quantity: orderProduct.Quantity
            })
        }

        var barchart = document.getElementById('TotalDailySales').getContext('2d');
        var mybarchart = new Chart(barchart, {
            type: 'bar',
            data: {
                labels: dailySales.map(ds => ds.day),
                datasets: [{
                    label: 'Daily Sales',
                    data: dailySales.map(ds => ds.value),
                    backgroundColor: dailySales.map(() => randomColor())
                }]
            },
        })

        var piechart = document.getElementById('TopSellingProducts').getContext('2d');
        var mypiechart = new Chart(piechart, {
            type: 'doughnut',
            data: {
                labels: topSellingProducts.map(ot => ot.name),
                datasets: [{
                    label: 'Top Selling Products',
                    data: topSellingProducts.map(ot => ot.quantity),
                    backgroundColor: topSellingProducts.map(() => randomColor())
                }]
            },
        })

        var piechart = document.getElementById('OrdersTodayPie').getContext('2d');
        var mypiechart2 = new Chart(piechart, {
            type: 'doughnut',
            data: {
                labels: ordersToday.map(ot => ot.name),
                datasets: [{
                    label: 'Orders Today',
                    data: ordersToday.map(ot => ot.quantity),
                    backgroundColor: ordersToday.map(() => randomColor())
                }]
            },
        })


    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")






</body>
