
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/NavbarAdmin.cshtml";
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <link href="~/Content/Site.css" rel="stylesheet" />


}

<body>

    <h1>Sales Performance</h1>
    <div class="container text-lg-end justify-content-center ">

        <div class="row">
            <div class="col-lg-11">
                <form class="d-flex justify-content-md-end M-auto" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </form>
            </div>
            <div class="col">
                <i class="fa-solid fa-gear col-7"></i>

            </div>
            <div class="col">
                <i class="fa-solid fa-chart-column  col-7"></i>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    Bar Chart
                </div>
                <div class="card-body">
                    <canvas class="my-4 h-25" id="bar"></canvas>
                    <div class="dropdown">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown button
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">Weekly</a></li>
                                <li><a class="dropdown-item" href="#">Monthly</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />

        </div>
        <div class="col-sm-3">
            <div class="card">
                <br />
                <div class=" justify-content-md-start"><strong>Top Selling Product</strong></div>
                <div class="card-body">
                    <canvas class="my-4 h-25" id="pie"></canvas>
                </div>
            </div>

        </div>
        <div class="col-sm-3">
            <div class="card">
                <br />
                <div class=" justify-content-md-start"><strong>Order todays</strong></b></div>
                <div class="card-body">
                    <canvas class="my-4 h-25" id="Spie"></canvas>

                </div>
            </div>

        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
    <script type="text/javascript">

        var barchart = document.getElementById('bar').getContext('2d');
        var mybarchart = new Chart(barchart, {
            type: 'bar',
            data: {
                labels: ['MON1', 'TUE2', 'WED3', 'THU4', 'FRI5', 'SAT6', 'SUN7'],
                datasets: [{
                    label: 'Bar Chart',
                    data: [1000, 200, 400, 600, 800, 300, 900],
                    backgroundColor: '#BC6E19'
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        })

        var piechart = document.getElementById('pie').getContext('2d');
        var mypiechart = new Chart(piechart, {
            type: 'doughnut',
            data: {
                labels: ['001', '002',],
                datasets: [{
                    label: 'doughnut Chart',
                    data: [100, 200],
                    backgroundColor: ['#BC6E19'],




                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        })

        var piechart = document.getElementById('Spie').getContext('2d');
        var mypiechart = new Chart(piechart, {
            type: 'doughnut',
            data: {
                labels: ['001', '002',],
                datasets: [{
                    label: 'Doughnut Chart',
                    data: [100, 200],
                    backgroundColor: '#BC6E19'

                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        })


    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")






</body>
