
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/NavbarAdmin.cshtml";
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
    

}
<style></style>
<body>

    <div class="container text-lg-end justify-content-center ">

        <div class="row">
            <div class="col-1">
                <strong >ID</strong>       

            </div>
            <div class="col-2">
                <strong>Product</strong>

            </div>
            <div class="col-2">
                <strong>Price</strong>

            </div>
            <div class="col-2">
                <strong>Action</strong>

            </div>
            <div class="col-md-2">
                <form class="d-flex justify-content-md-end M-auto" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </form>
            </div>
            <div class="col">
                <i class="fa-solid fa-gear col-3"></i>

            </div>
            <div class="col">
                <i class="fa-solid fa-chart-column  col-1"></i>
            </div>
        </div>
    </div>
    </body>
